@page "/blazoriseDataGrid"

@using Character = StarWarsGeneratedClient.IGetCharactersWithPaging_CharactersWithPagingFilteringAndSorting_Items;

<h1>Characters (Blazorise DataGrid)</h1>

<DataGrid TItem="Character"
		  Data="@characters"
		  ReadData="@OnReadData"
		  ShowPager="true"
		  TotalItems="@total"
		  PageSizes="@(new[] { 2,3, 5, 10})"
		  ShowPageSizes="true">

	<ChildContent>
		<DataGridColumn TItem="Character" Field="@nameof(Character.Id)" Caption="Id" />
		<DataGridColumn TItem="Character" Field="@nameof(Character.Name)" Caption="Name" />
		<DataGridColumn TItem="Character" Field="@nameof(Character.AppearsIn)" Caption="Episodes" Sortable="false">
			<DisplayTemplate>
				@(string.Join(", ", context.AppearsIn))
			</DisplayTemplate>
		</DataGridColumn>
	</ChildContent>

	<EmptyTemplate>
		<div class="box">
			No characters are found!
		</div>
	</EmptyTemplate>
</DataGrid>